[tool.black]
line-length = 88
skip-string-normalization = true
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_gitignore = true

[tool.pylint.messages_control]
disable = [
    "C0114",  # missing-module-docstring
    "C0115",  # missing-class-docstring
    "C0116",  # missing-function-docstring
    "W0105",  # pointless-string-statement
    "broad-exception-caught",
    "logging-fstring-interpolation"
]

[tool.pylint.basic]
good-names = ["i", "j", "k", "x", "y", "z", "df", "ax", "fig"]

[tool.pylint.typecheck]
extension-pkg-whitelist = ["cv2", "numpy", "scipy", "sklearn", "torch", "tensorflow"]
generated-members = ["cv2.*", "numpy.*", "torch.*"]

[tool.pylint.format]
max-line-length = 88

[tool.pytest.ini_options]
pythonpath = "."

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
